{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/home.css') }}">
{% endblock %}

{% block body %}
    <section id="home_content">
        <article id="search">
            <h1 class="ml-4 mt-3">Réservez des logements</h1>
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                {{ form_label(form.where, "Où", {'label_attr': {'class': 'col-sm-2 control-label mt-1'}}) }}
                {{ form_errors(form.where) }}
                <div class="input-group mb-2 mx-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{ form_widget(form.where, {'attr': {'class': 'form-control p-3','placeholder':'Ibiza, Baléares, Espagne'}}) }}
                </div>

                {{ form_label(form.adults, "Adultes", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.adults) }}
                <div class="input-group mb-2 mx-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    {{ form_widget(form.adults, {'attr': {'class': 'form-control p-3','placeholder':'Nombre d\'adultes'}}) }}
                </div>

                {{ form_label(form.childs, "Enfants", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.childs) }}
                <div class="input-group mb-2 mx-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-child"></i></span>
                    </div>
                    {{ form_widget(form.childs, {'attr': {'class': 'form-control p-3','placeholder':'Nombre d\'enfants'}}) }}
                </div>

                {{ form_label(form.babies, "Bébés", {'label_attr': {'class': 'col-sm-2 control-label mt-1'}}) }}
                {{ form_errors(form.babies) }}
                <div class="input-group mb-2 mx-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-baby"></i></span>
                    </div>
                    {{ form_widget(form.babies, {'attr': {'class': 'form-control','placeholder':'Nombre de bébés'}}) }}
                </div>

                {{ form_label(form.start_date, "Arrivée", {'label_attr': {'class': 'col-sm-2 control-label mt-1'}}) }}
                {{ form_errors(form.start_date) }}
                <div class="input-group mb-2 mx-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    {{ form_widget(form.start_date, {'attr': {'class': 'form-control','placeholder':'Voyageurs'}}) }}
                </div>

                {{ form_label(form.end_date, "Départ", {'label_attr': {'class': 'col-sm-2 control-label mt-1'}}) }}
                {{ form_errors(form.end_date) }}
                <div class="input-group mb-2 mx-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    {{ form_widget(form.end_date, {'attr': {'class': 'form-control','placeholder':'Voyageurs'}}) }}
                </div>

                <div class="text-center mt-3">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-secondary'}}) }}
                </div>
                {#{{ form_rest(form) }}#}
                {{ form_end(form) }}
            </div>
        </article>
    </section>
{% endblock %}
